*{
    font-family:verdana;
}

.titulo{
    text-align: center;
}

#menu{
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 250px
}

table, th, td{
    border: 1px solid black;
    width: 380px;
    text-align: center;
}

#gremio{
    margin-left: 450px;
}

body {
    background-color: lightblue;
  }